<!-- Order List page -->
<div class="w3-row">
  <!-- Contains top section of inserted page. Including title, search bar, sort -->
  <h4 class="w3-third">{{viewName}} List</h4>
  <!-- Search -->
  <div class="w3-third w3-container">
    <label class="w3-label">Search:</label>
    <input class="w3-input w3-border" ng-model="searchTerm" type="text" />
  </div>
  <!-- Sort -->
  <div class="w3-third w3-container">
    <label class="w3-label">Sort By:</label>
    <select class="w3-select w3-border" ng-model="sortOrder">
      <option value="+id">ID</option>
      <option value="+name">Name</option>
      <option value="+status">Status</option>
    </select>
  </div>
</div>

<div class="w3-row">
  <span class="w3-text-red">{{errorMsg}}</span>
  <a class="w3-btn w3-grey w3-round w3-right" href="#orderEdit">Create Item</a>
</div>
<!-- Displays all orders -->
<div class="w3-row">
  <table class="w3-table w3-striped w3-hoverable w3-card-2 w3-half">
    <tr class="w3-green">
      <th>Order ID</th>
      <th>Customer Name</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
    <tr ng-repeat="order in orderList | filter:searchTerm | orderBy:sortOrder">
      <td>{{order.id}}</td>
      <td>{{order.name}}</td>
      <td>{{order.status}}</td>
      <td>
        <a href="#orderEdit/{{order.id}}" class="w3-btn w3-grey w3-round">Edit</a>
        <button class="w3-btn w3-round" ng-click="deleteOrder(order.id)">Delete</button>
        <button class="w3-btn w3-round" ng-click="getPurchaseListForOrder(order.id)">View</button>
      </td>
    </tr>
  </table>

  <!-- Displays list of stock in selected order -->
  <table class="w3-table w3-striped w3-hoverable w3-card-2 w3-half">
    <tr class="w3-green">
      <th>Stock</th>
      <th>Quantity</th>
      <th>Price</th>
    </tr>
    <tr ng-repeat="item in purchaseList">
      <td>{{item.name}}</td>
      <td>{{item.quantity}}</td>
      <td>{{item.price * item.quantity |currency:'$'}}</td>
    </tr>
    <tr>
      <td></td>
      <td>Total:</td>
      <td>{{totalPrice | currency:'$'}}</td>
    </tr>
  </table>
</div>
